<!-- SECTION HEADER -->
<div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
        <!-- SECTION PRETITLE -->
        <p class="section-pretitle">{{'my_profile' | translate}}</p>
        <!-- /SECTION PRETITLE -->

        <!-- SECTION TITLE -->
        <h2 class="section-title">{{'profile_info' | translate}}</h2>
        <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
</div>
<!-- /SECTION HEADER -->

<!-- GRID COLUMN -->
<div class="grid-column">
    <!-- GRID -->
    <div class="grid grid-3-3-3 centered">
        <!-- USER PREVIEW -->
        <div class="user-preview small fixed-height">
            <!-- USER PREVIEW COVER -->
            <figure class="user-preview-cover liquid">
                <img src="../../../../assets/img/cover/01.jpg" alt="cover-01">
            </figure>
            <!-- /USER PREVIEW COVER -->

            <!-- USER PREVIEW INFO -->
            <div class="user-preview-info">
                <!-- USER SHORT DESCRIPTION -->
                <div class="user-short-description small">
                    <!-- USER SHORT DESCRIPTION AVATAR -->
                    <div class="user-short-description-avatar user-avatar">
                        <!-- USER AVATAR BORDER -->
                        <div class="user-avatar-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-100-110"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR BORDER -->

                        <!-- USER AVATAR CONTENT -->
                        <div class="user-avatar-content">
                            <!-- HEXAGON -->
                            <div class="hexagon-image-68-74" id="profilePicture"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR CONTENT -->

                        <!-- USER AVATAR PROGRESS -->
                        <div class="user-avatar-progress">
                            <!-- HEXAGON -->
                            <div class="hexagon-progress-84-92-complete"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS -->

                        <!-- USER AVATAR PROGRESS BORDER -->
                        <div class="user-avatar-progress-border">
                            <!-- HEXAGON -->
                            <div class="hexagon-border-84-92"></div>
                            <!-- /HEXAGON -->
                        </div>
                        <!-- /USER AVATAR PROGRESS BORDER -->
                    </div>
                    <!-- /USER SHORT DESCRIPTION AVATAR -->
                </div>
                <!-- /USER SHORT DESCRIPTION -->
            </div>
            <!-- /USER PREVIEW INFO -->
        </div>
        <!-- /USER PREVIEW -->

        <!-- UPLOAD BOX -->
        <div (click)="openProfilePictureInput()" class="upload-box popup-album-creation-trigger">
            <input id="profilePictureInput" type="file" style="display:none" (change)="fileChange($event)">
            <!-- UPLOAD BOX ICON -->
            <svg class="upload-box-icon icon-members">
                <use xlink:href="#svg-members"></use>
            </svg>
            <!-- /UPLOAD BOX ICON -->

            <!-- UPLOAD BOX TITLE -->
            <p class="upload-box-title">Change Avatar</p>
            <!-- /UPLOAD BOX TITLE -->

            <!-- UPLOAD BOX TEXT -->
            <p class="upload-box-text">110x110px size minimum</p>
            <!-- /UPLOAD BOX TEXT -->
        </div>
        <!-- /UPLOAD BOX -->

        <!-- UPLOAD BOX -->
        <div (click)="openCoverInput()" class="upload-box">
            <input id="coverPictureInput" type="file" style="display:none" (change)="coverFileChange($event)">

            <!-- UPLOAD BOX ICON -->
            <svg class="upload-box-icon icon-photos">
                <use xlink:href="#svg-photos"></use>
            </svg>
            <!-- /UPLOAD BOX ICON -->

            <!-- UPLOAD BOX TITLE -->
            <p class="upload-box-title">Change Cover</p>
            <!-- /UPLOAD BOX TITLE -->

            <!-- UPLOAD BOX TEXT -->
            <p class="upload-box-text">1184x300px size minimum</p>
            <!-- /UPLOAD BOX TEXT -->
        </div>
        <!-- /UPLOAD BOX -->
    </div>
    <!-- /GRID -->

    <!-- WIDGET BOX -->
    <div class="widget-box">
        <!-- WIDGET BOX TITLE -->
        <p class="widget-box-title">About Your Profile</p>
        <!-- /WIDGET BOX TITLE -->

        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <!-- FORM -->
            <form class="form">
                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-name">Profile Name</label>
                            <input type="text" id="profile-name" name="profile_name" [(ngModel)]="user.nom">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small full">
                            <textarea [(ngModel)]="user.description" id="profile-description" name="profile_description"
                                placeholder="Write a little description about you..."></textarea>
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-public-email">Public Email</label>
                            <input type="text" id="profile-public-email" name="profile_public_email"
                                [(ngModel)]="user.email">
                        </div>
                        <!-- /FORM INPUT -->

                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-public-website">Profile url</label>
                            <input type="text" id="profile-public-website" name="profile_public_website"
                                [(ngModel)]="user.slug">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM SELECT -->
                        <div class="form-select">
                            <label for="profile-country">Country</label>
                            <select [(ngModel)]="user.country" id="profile-country" name="profile_country">
                                <option value="" selected>Select your Country</option>
                                <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}
                                </option>
                            </select>
                            <!-- FORM SELECT ICON -->
                            <svg class="form-select-icon icon-small-arrow">
                                <use xlink:href="#svg-small-arrow"></use>
                            </svg>
                            <!-- /FORM SELECT ICON -->
                        </div>
                        <!-- /FORM SELECT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT DECORATED -->
                        <div class="form-input-decorated">
                            <!-- FORM INPUT -->
                            <div class="form-input small active">
                                <label for="profile-birthday">Birthday</label>
                                <input type="text" id="profile-birthday" name="profile_birthday"
                                    value="August 24th, 1987">
                            </div>
                            <!-- /FORM INPUT -->

                            <!-- FORM INPUT ICON -->
                            <svg class="form-input-icon icon-events">
                                <use xlink:href="#svg-events"></use>
                            </svg>
                            <!-- /FORM INPUT ICON -->
                        </div>
                        <!-- /FORM INPUT DECORATED -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small active">
                            <label for="profile-occupation">Occupation</label>
                            <input [(ngModel)]="user.job" type="text" id="profile-occupation" name="profile_occupation"
                                value="Costume Designer">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM SELECT -->
                        <div class="form-select">
                            <label for="profile-status">Status</label>
                            <select id="profile-status" name="profile_status">
                                <option value="0">Select your Status</option>
                                <option value="1" selected>In a Relationship</option>
                            </select>
                            <!-- FORM SELECT ICON -->
                            <svg class="form-select-icon icon-small-arrow">
                                <use xlink:href="#svg-small-arrow"></use>
                            </svg>
                            <!-- /FORM SELECT ICON -->
                        </div>
                        <!-- /FORM SELECT -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small">
                            <label for="profile-birthplace">Birthplace</label>
                            <input type="text" id="profile-birthplace" name="profile_birthplace">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->
            </form>
            <!-- /FORM -->
        </div>
        <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->

</div>
<!-- /GRID COLUMN -->