<!-- LANDING -->
<div class="landing">
    <!-- LANDING DECORATION -->
    <div class="landing-decoration"></div>
    <!-- /LANDING DECORATION -->

    <!-- LANDING INFO -->
    <div class="landing-info">
        <!-- LOGO -->
        <div class="logo">
            <img style="height: 132px; width: auto;" class="icon-logo-vikinger"
                src="../../../../assets/img/logo-white-big.png">
        </div>
        <!-- /LOGO -->

        <!-- LANDING FORM -->
        <div class="landing-form">
            <!-- FORM BOX -->
            <div class="form-box login-register-form-element">
                <!-- FORM BOX DECORATION -->
                <!-- <img class="form-box-decoration overflowing" src="../../../../assets/img/landing/rocket.png" alt="rocket"> -->
                <!-- /FORM BOX DECORATION -->

                <!-- FORM BOX TITLE -->
                <h2 class="form-box-title">{{'reset_password_request' | translate}}</h2>
                <!-- /FORM BOX TITLE -->

                <!-- FORM -->
                <form class="form" [formGroup]="resetForm" (ngSubmit)="sendResetRequest()">
                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input">
                                <label for="login-email">Email</label>
                                <input formControlName="email" type="text" id="login-email" name="login_email">
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->


                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- BUTTON -->
                            <button class="button medium secondary">{{'send_reset_password_request' |
                                translate}}</button>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                    <br>
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM LINK -->
                        <a class="form-link" [routerLink]="['/login']">{{'login' |
                            translate}}</a>
                        <!-- /FORM LINK -->
                    </div>
                    <!-- /FORM ITEM -->

                </form>
                <!-- /FORM -->
            </div>
            <!-- /FORM BOX -->

        </div>
        <!-- /LANDING FORM -->

    </div>
    <!-- /LANDING INFO -->

</div>
<!-- /LANDING -->