<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="../../../../assets/img/banner/accounthub-icon.png" alt="accounthub-icon">
        <!-- /SECTION BANNER ICON -->

        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">{{'account_hub' | translate}}</p>
        <!-- /SECTION BANNER TITLE -->

        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">{{'account_hub_msg' | translate}}</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->

    <!-- GRID -->
    <div class="grid grid-3-9 medium-space">
        <!-- GRID COLUMN -->
        <div class="account-hub-sidebar">
            <!-- SIDEBAR BOX -->
            <div class="sidebar-box no-padding">
                <!-- SIDEBAR MENU -->
                <div class="sidebar-menu">
                    <!-- SIDEBAR MENU ITEM -->
                    <div class="sidebar-menu-item">
                        <!-- SIDEBAR MENU HEADER -->
                        <div class="sidebar-menu-header accordion-trigger-linked">
                            <!-- SIDEBAR MENU HEADER ICON -->
                            <svg class="sidebar-menu-header-icon icon-profile">
                                <use xlink:href="#svg-profile"></use>
                            </svg>
                            <!-- /SIDEBAR MENU HEADER ICON -->

                            <!-- SIDEBAR MENU HEADER CONTROL ICON -->
                            <div class="sidebar-menu-header-control-icon">
                                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                                    <use xlink:href="#svg-minus-small"></use>
                                </svg>
                                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                                    <use xlink:href="#svg-plus-small"></use>
                                </svg>
                                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                            </div>
                            <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

                            <!-- SIDEBAR MENU HEADER TITLE -->
                            <p class="sidebar-menu-header-title">{{'my_profile' | translate}}</p>
                            <!-- /SIDEBAR MENU HEADER TITLE -->

                            <!-- SIDEBAR MENU HEADER TEXT -->
                            <p class="sidebar-menu-header-text">Change your avatar &amp; cover, accept friends, read
                                messages and more!</p>
                            <!-- /SIDEBAR MENU HEADER TEXT -->
                        </div>
                        <!-- /SIDEBAR MENU HEADER -->

                        <!-- SIDEBAR MENU BODY -->
                        <div class="sidebar-menu-body accordion-content-linked accordion-open">
                            <!-- SIDEBAR MENU LINK -->
                            <a class="sidebar-menu-link" [ngClass]="{active: activeTab===0}" (click)="setTab(0)"
                                [routerLink]="">{{'profile_info' | translate}}</a>
                            <!-- /SIDEBAR MENU LINK -->

                            <!-- SIDEBAR MENU LINK -->
                            <a class="sidebar-menu-link" [ngClass]="{active: activeTab===1}" (click)="setTab(1)"
                                [routerLink]="">Social links</a>
                            <!-- /SIDEBAR MENU LINK -->
                        </div>
                        <!-- /SIDEBAR MENU BODY -->
                    </div>
                    <!-- /SIDEBAR MENU ITEM -->

                    <!-- SIDEBAR MENU ITEM -->
                    <div class="sidebar-menu-item">
                        <!-- SIDEBAR MENU HEADER -->
                        <div class="sidebar-menu-header accordion-trigger-linked">
                            <!-- SIDEBAR MENU HEADER ICON -->
                            <svg class="sidebar-menu-header-icon icon-settings">
                                <use xlink:href="#svg-settings"></use>
                            </svg>
                            <!-- /SIDEBAR MENU HEADER ICON -->

                            <!-- SIDEBAR MENU HEADER CONTROL ICON -->
                            <div class="sidebar-menu-header-control-icon">
                                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                                    <use xlink:href="#svg-minus-small"></use>
                                </svg>
                                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                                    <use xlink:href="#svg-plus-small"></use>
                                </svg>
                                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                            </div>
                            <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

                            <!-- SIDEBAR MENU HEADER TITLE -->
                            <p class="sidebar-menu-header-title">Account</p>
                            <!-- /SIDEBAR MENU HEADER TITLE -->

                            <!-- SIDEBAR MENU HEADER TEXT -->
                            <p class="sidebar-menu-header-text">Change settings, configure notifications, and review
                                your privacy</p>
                            <!-- /SIDEBAR MENU HEADER TEXT -->
                        </div>
                        <!-- /SIDEBAR MENU HEADER -->

                        <!-- SIDEBAR MENU BODY -->
                        <div class="sidebar-menu-body accordion-content-linked">
                            <!-- SIDEBAR MENU LINK -->
                            <a class="sidebar-menu-link" [ngClass]="{active: activeTab===2}" (click)="setTab(2)">Change
                                Password</a>
                            <!-- /SIDEBAR MENU LINK -->

                            <!-- SIDEBAR MENU LINK -->
                            <a class="sidebar-menu-link" [routerLink]="">General Settings</a>
                            <!-- /SIDEBAR MENU LINK -->
                        </div>
                        <!-- /SIDEBAR MENU BODY -->
                    </div>
                    <!-- /SIDEBAR MENU ITEM -->

                </div>
                <!-- /SIDEBAR MENU -->

                <!-- SIDEBAR BOX FOOTER -->
                <div class="sidebar-box-footer">
                    <!-- BUTTON -->
                    <p (click)="updateUser()" class="button primary">Save Changes!</p>
                    <!-- /BUTTON -->

                    <!-- BUTTON -->
                    <p class="button white small-space">Discard All</p>
                    <!-- /BUTTON -->
                </div>
                <!-- /SIDEBAR BOX FOOTER -->
            </div>
            <!-- /SIDEBAR BOX -->
        </div>
        <!-- /GRID COLUMN -->

        <!-- GRID COLUMN -->
        <div class="account-hub-content">
            <app-profile-info [user]="currentUser" *ngIf="activeTab===0"></app-profile-info>
            <app-profile-social [user]="currentUser" *ngIf="activeTab===1"></app-profile-social>
            <app-change-password [user]="currentUser" *ngIf="activeTab===2"></app-change-password>
        </div>
        <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
</div>
<!-- /CONTENT GRID -->
