<!-- LANDING -->
<div class="landing">
    <!-- LANDING DECORATION -->
    <div class="landing-decoration"></div>
    <!-- /LANDING DECORATION -->

    <!-- LANDING INFO -->
    <div class="landing-info">
        <!-- LOGO -->
        <div class="logo">
            <img style="height: 132px; width: auto;" class="icon-logo-vikinger"
                src="../../../../assets/img/logo-white-big.png">
        </div>
        <!-- /LOGO -->

        <!-- LANDING FORM -->
        <div [hidden]="!verifiedToken" class="landing-form">
            <!-- FORM BOX -->
            <div class="form-box login-register-form-element">
                <!-- FORM BOX DECORATION -->
                <!-- <img class="form-box-decoration overflowing" src="../../../../assets/img/landing/rocket.png" alt="rocket"> -->
                <!-- /FORM BOX DECORATION -->

                <!-- FORM BOX TITLE -->
                <h2 class="form-box-title">{{'reset_password_request' | translate}}</h2>
                <!-- /FORM BOX TITLE -->

                <!-- FORM -->
                <form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()">

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input">
                                <label for="register-password">{{'password' | translate}} </label>
                                <input formControlName="password" type="password" id="register-password"
                                    name="register_password">
                                <p *ngIf="resetForm?.controls?.password?.errors?.required && resetForm?.touched"
                                    class="form-text error">password
                                    is required!</p>

                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- FORM INPUT -->
                            <div class="form-input">
                                <label for="register-password-repeat">{{'repeat_password' | translate}}</label>
                                <input formControlName="checkPassword" type="password" id="register-password-repeat"
                                    name="register_password_repeat">
                                <p *ngIf="resetForm?.controls?.checkPassword?.errors?.required && resetForm?.touched"
                                    class="form-text error">Confirm your password!</p>
                            </div>
                            <!-- /FORM INPUT -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->

                    <!-- FORM ROW -->
                    <div class="form-row">
                        <!-- FORM ITEM -->
                        <div class="form-item">
                            <!-- BUTTON -->
                            <button class="button medium primary">{{'reset_password' | translate}}!</button>
                            <!-- /BUTTON -->
                        </div>
                        <!-- /FORM ITEM -->
                    </div>
                    <!-- /FORM ROW -->
                </form>
                <!-- /FORM -->
            </div>
            <!-- /FORM BOX -->

        </div>
        <!-- /LANDING FORM -->

    </div>
    <!-- /LANDING INFO -->

</div>
<!-- /LANDING -->