video {
    width: 100%;
}

.post-option-active {
    background-color: #fff;
    box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.1);
}
.post-option-text-active {
    color: #3e3f5e;
}

.post-option-icon-active {
    fill: #23d2e2;
    opacity: 1;
}

img.round {
    border-radius: 50%;
}
