<!-- SECTION HEADER -->
<div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
        <!-- SECTION PRETITLE -->
        <p class="section-pretitle">{{'account' | translate}}</p>
        <!-- /SECTION PRETITLE -->

        <!-- SECTION TITLE -->
        <h2 class="section-title">{{'change_password' | translate}}</h2>
        <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
</div>
<!-- /SECTION HEADER -->

<!-- GRID COLUMN -->
<div class="grid-column">
    <!-- WIDGET BOX -->
    <div class="widget-box">
        <!-- WIDGET BOX CONTENT -->
        <div class="widget-box-content">
            <!-- FORM -->
            <form class="form" [formGroup]="passwordForm">
                <!-- FORM ROW -->
                <div class="form-row">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small">
                            <label for="account-current-password">{{'confirm_your_current_password' | translate}}</label>
                            <input formControlName="oldPassword" type="password" id="account-current-password" name="account_current_password">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small">
                            <label for="account-new-password">{{'your_new_password' | translate}}</label>
                            <input formControlName="newPassword" type="password" id="account-new-password" name="account_new_password">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- FORM INPUT -->
                        <div class="form-input small">
                            <label for="account-new-password-confirm">{{'confirm_new_password' | translate}}</label>
                            <input formControlName="checkPassword" type="password" id="account-new-password-confirm"
                                name="account_new_password_confirm">
                        </div>
                        <!-- /FORM INPUT -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->

                <!-- FORM ROW -->
                <div class="form-row split">
                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- BUTTON -->
                        <p class="button full secondary">{{'forgot_your_password' | translate}}</p>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /FORM ITEM -->

                    <!-- FORM ITEM -->
                    <div class="form-item">
                        <!-- BUTTON -->
                        <p (click)="updatePassword()" class="button full primary">{{'change_password_now' | translate}}</p>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /FORM ITEM -->
                </div>
                <!-- /FORM ROW -->
            </form>
            <!-- /FORM -->
        </div>
        <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->
</div>
<!-- /GRID COLUMN -->
