.section-banner .section-banner-icon {
    position: absolute;
    bottom: -25px;
    left: 0;
}

img.round {
    border-radius: 50%;
}

.product-preview.fixed-height {
    height: 240px;
}

.red {
    color: rgb(218, 55, 55) !important;
}

.red-background {
    background-color: rgb(218, 55, 55) !important;
}

.yellow {
    color: #d4ac0c;
}
